.DS_Store

/example/project
/example/target
/example/.metals

/wikipedia/project
/wikipedia/target
/wikipedia/.metals
/wikipedia/.bloop

/stackoverflow/project
/stackoverflow/target
/stackoverflow/.metals
/stackoverflow/.bloop

