.DS_Store

/example/project
/example/target
/example/.metals

/wikipedia/project
/wikipedia/target
/wikipedia/.metals
/wikipedia/.bloop
/wikipedia/src/main/resources

/stackoverflow/project
/stackoverflow/target
/stackoverflow/.metals
/stackoverflow/.bloop
/stackoverflow/src/main/resources

